.addevent-main {
    height: calc(100vh -  71px);
    background-color: #87CEEB;
    padding: 30px 50px;
    font-family: 'Ibarra Real Nova', serif;
}

.addevent-box-main{
    height: calc(100vh -  113px);
    border: 2px solid #6d1ca3;
    padding: 10px;
    background-color: #7209B7;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-img{
    width: 87px;
    height: 70px;
    border-radius: 30px;
}


.edit-img{
    margin-top : 15px;
    padding: 6px; 
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
}

.addevent-left{
    padding: 10px 0px ;
    border-right: 1.7px solid black;
    height: calc(100vh -  113px);
}

.left-buttons{
    display: flex;
    flex-direction: column;
    padding: 7px 36px 30px 0px;
}

.left-buttons button{
    background-color: #132584;
    border: 1px solid #05386B;
    border-radius: 6px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 15px;
}
.left-name{
    padding: 10px 36px 30px 0px;
}

.addevent-right{
    width: 700px;
    color :white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.addevent-name{
    height: calc(100vh -  104px);
}

.addevent-name-heading{
    align-items: center;
    padding-top: 10px;
    padding-left: 70px;
}

.addevent-name-form{
    align-items: center;
}
/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  input[type='text'],
  input[type='file'] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  } */
  


