.search-btn{
    position: fixed;
    top: 80px;
    left: 50px;
    z-index: 214748363;
    
}
.userloc{
    z-index:214748363;
    align-items: center;
    margin-left: 20cm;
}

form{
    flex-direction: row;
}