 .login-body {
  position: fixed;
  background: #449dd1;
  top: 23px;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 45px;
}

.login-main {
  background: #449dd1;
  height: 640px;
  margin: 0;
  padding: 0;
}
.icon-img {
  width: 70px;
  height: 70px;
  margin-bottom: 2rem;
  display: block;
  margin-left: 7rem;
  filter: opacity(1) drop-shadow(0 0 0 #0e5334);
}

.btn-primary {
  color: black;
  background-color: #0e5334 !important;
  border-style: none;
}

.reset {
  color: white;
}

.text-left {
  display: flex;
  justify-content: space-between;
}

.text-left a {
  text-decoration: none;
} 

.reset{
  color: rgb(7, 7, 7);
  font-size: small ;
  font-weight: 500;
}
