*{
  all:none;
}

.leaflet-container {
    width: 100wh; 
    height: 100vh;
   
  }
.home{
    background-color: #000814;
    color: #CAF0F8;
}

.map-container{
  position:relative;
}
.search-bar {
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 18px;
  z-index: 10;
}

.left-sidebar{
  width: 30wh; 
  height: 100vh;
  color:white;
  background-color: rgb(54, 148, 108);
  padding: 7px;
  margin-left:3px;
}