*{
  all:none;
}

.leaflet-container {
    width: 100wh; 
    height: 100vh;
   
  }
.homee{
    background-color: black;
    color: beige;
}

.map-container{
  position:relative;
}
.search-bar {
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 18px;
  z-index: 10;
}

.left-sidebar{
  width: 30wh; 
  height: 100vh;
}